/** globales **/
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/
.site-header.inicio {
  background: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

/** navegacion **/
.navegacion a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.navegacion a:hover {
  color: lightgreen;
}

.navegacion a:last-of-type {
  margin: 0;
}
